{% extends "base/index.html" %}

{% block content %}
    <div class="header-bar">
        <div class="return-tag" align="right">
            <a href="{% url 'tasks' %}">Go Back</a>
        </div>
        <h1>Task Form</h1>
    </div>
    
    <form method="POST">
        {% csrf_token %}
        <div class="form-container">
            {{ form.as_p }}
            <div align="center">
                <button type="submit">Submit</button>                    
            </div>
        </div>
    </form>
{% endblock content %}
